version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: reservation_db
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppassword
    ports:
        []
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "5001:5001"
    environment:
      PORT: 5001
      NODE_ENV: production
      JWT_SECRET: super_secure_jwt_secret
      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: reservation_db
      DB_USER: appuser
      DB_PASSWORD: apppassword
    depends_on:
      - mysql

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mysql_data: